body {
    padding: 0;
    margin: 0;
}

.cabeçalho {
    border: 1px solid black;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(2,0,36,1) 0%, rgba(223,69,69,1) 100%);
}

.maintitle {
    text-align:center;
    color: azure;
    font-family: 'Oswald';
    font-size: 45px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
}


li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

a {
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Oswald';
}

a:hover {
    color: crimson;
    background-color: azure;
    
}

.secondlinks {
    padding: 10px 20px;
    color: white;
    background-color: #020024;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Oswald';
}

.secondlinks:hover {
    color: azure;
    background-color: crimson;
}

.subsub {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

h2 {
    display: inline;
    border-bottom: 5px solid #333; /* Largura, estilo e cor da linha */
    padding-bottom: 5px;
    font-family: 'Oswald';
}

.leftsize1 {
    border-radius: 20px;
    padding: 20px;
    background-color: #DCDCDC;
    margin-left: 100px;
    text-align: center;
}

.paragraph {
    font-family: 'oswald';
    text-align: center;
}

.rightsize1 {
    border-radius: 20px;
    padding: 20px;
    background-color: #DCDCDC;
    margin-right: 100px;
    text-align: center;
}


.geralarticles {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    margin-top: 15px;
}

img  {
    border-radius: 20px;
    transition: box-shadow 0.3s; 
}

img:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.subtitle{
    text-align: center;
    font-family: 'Oswald';
}

.rodape {
    text-align: center;
    color: #aeaeb5;
    border: 1px solid black;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(2,0,36,1) 0%, rgba(223,69,69,1) 100%);
}

/*a partir deste ponto, as declarações de estilização pertencem aos artigos*/

.thepurgetitle {
    text-align: center;
}

